# Entity Reconciliation Model and Analysis

In [4]:
import sys
sys.executable

'/usr/local/opt/python/bin/python3.7'

In [5]:
import pandas as pd

pd.set_option("display.max_columns", 101)

## Data imports

### Investors

In [7]:
investors_path = "~/Desktop/Data/Matching_process/investors_to_merge.csv"

investors_df = pd.read_csv(investors_path)

In [8]:
investors_df.head()

,name,address_country_name,type_name,currency_short_name,type_name.1,roles_name,summary,id,company_type,name_clean,name_implied_type,name_implied_country,name_clean_co
0,B&CE Staff Pension Scheme,United Kingdom,Corporate D.B.,GBP,Corporate D.B.,Auditor,"<p>As of Mar. 31, 2017, the&nbsp;17.62% alloca...",2147271350,investor,B&CE STAFF PENSION SCHEME,NaN,NaN,B&CE STAFF PENSION SCHEME
1,BMO Global Asset Management,United Kingdom,Corporate D.B.,GBP,Corporate D.B.,Actuary,NaN,2147321728,investor,BMO GLOBAL ASSET MANAGEMENT,NaN,NaN,BMO GLOBAL ASSET MANAGEMENT
2,BMO Global Asset Management,NaN,Corporate D.B.,GBP,Corporate D.B.,Auditor,NaN,2147321728,investor,BMO GLOBAL ASSET MANAGEMENT,NaN,NaN,BMO GLOBAL ASSET MANAGEMENT
3,Cigna Europe Insurance Company,Belgium,Insurance,EUR,Insurance,NaN,NaN,2147321511,investor,CIGNA EUROPE INSURANCE COMPANY,['Corporation'],['United States of America'],CIGNA EUROPE INSURANCE
4,Dr Martens - Airwair International,United Kingdom,Corporate D.B.,GBP,Corporate D.B.,Auditor,"<p>As of March 31, 2017, the 28.95%&nbsp;multi...",2147320659,investor,DR MARTENS AIRWAIR INTERNATIONAL,NaN,NaN,DR MARTENS AIRWAIR INTERNATIONAL

In [21]:
investors_df.type_name.unique()

array(['Corporate D.B.', 'Insurance', 'Public D.B.', 'Hospital Plan',
       'Union D.B.', 'Manager of Managers', 'Single-Family Office',
       'Foundation', 'Corporate D.C.', 'Union D.C.',
       'Non-Profit Organization', 'Endowment', 'Surplus Fund',
       'Public D.C.', 'Operating Fund', 'Hybrid DB-DC/Cash Balance',
       'Trust Fund', 'Regional Development Agency Fund',
       'Sovereign Wealth Fund', 'Sovereign Pension Fund', 'Unknown',
       'Multi-employer D.B.', 'AVC', 'Multi-employer D.C.', 'Bank',
       'Stakeholder', 'Statutory Compensation Fund', 'Health Plan',
       '529 Plan', 'Nuclear Decommissioning Trust', 'Treasury',
       'Permanent Fund', 'Multi-Family Office', 'Non-Profit D.C.',
       'Money Purchase Plan', 'Profit-Sharing Plan', 'Annuity Fund',
       'Liability Fund', 'Settlement Fund', 'Wealth Manager'],
      dtype=object)

In [22]:
investors_df.address_country_name.unique()

array(['United Kingdom', nan, 'Belgium', 'United States', 'Poland',
       'Canada', 'Spain', 'Cyprus', 'Brazil', 'Denmark', 'Switzerland',
       'Finland', 'Sweden', 'Ireland', 'Netherlands', 'Australia',
       'South Africa', 'United Arab Emirates', 'New Zealand', 'Malaysia',
       'France', 'Hong Kong', 'Argentina', 'Slovenia', 'Hungary',
       'Czech Republic', 'Romania', 'Japan', 'Mexico', 'Ivory Coast',
       'Ethiopia', 'Rwanda', 'Norway', 'Egypt', 'China', 'Singapore',
       'Thailand', 'Germany', 'Austria', 'Bahrain', 'Aruba',
       'Netherlands Antilles', 'Philippines', 'Russian Federation',
       'Iceland', 'Greece', 'Saudi Arabia', 'Bulgaria', 'Mauritius',
       'Virgin Islands', 'Italy', 'Estonia', 'India', 'Luxembourg',
       'Latvia', 'Portugal', 'Lithuania', 'Madagascar', 'Colombia',
       'Puerto Rico', 'Botswana', 'Taiwan', 'Kenya', 'Bahamas',
       'South Korea', 'Zambia', 'Indonesia', 'Brunei', 'Cayman Islands',
       'Morocco', 'Algeria', 'Croatia', 'Timor-Leste', 'Channel Islands',
       'Iran', 'Ghana', 'Zimbabwe', 'Unknown', 'Serbia', 'Costa Rica',
       'Togo', 'Nigeria', 'Nepal', 'Sri Lanka', 'Pakistan', 'Monaco',
       'Israel', 'Federated State of Micronesia', 'Fiji', 'Bermuda',
       'Senegal', 'Angola', 'Turkey', 'Tanzania', 'US Virgin Islands',
       'Namibia', 'Kuwait', 'Liechtenstein', 'Isle of Man', 'Kosovo',
       'Macedonia', 'Cambodia', 'Kazakhstan', 'Eritrea', 'Bhutan',
       'Papua New Guinea', 'Lebanon', 'Uganda',
       'Northern Mariana Islands', 'Oman', 'Palestine', 'Venezuela',
       'Barbados', 'Chile', 'Qatar', 'Vietnam', 'Macau', 'Jordan', 'Mali',
       'Sudan', 'Guernsey', 'Azerbaijan', 'Swaziland', 'Haiti', 'Jamaica',
       'Uruguay', 'Bosnia-Herzegovina'], dtype=object)

In [17]:
investors_df.count()

name                    34728
address_country_name    19921
type_name               34728
currency_short_name     34728
type_name.1             34728
roles_name              27632
summary                  7789
id                      34728
company_type            34728
name_clean              34728
name_implied_type        4610
name_implied_country     4600
name_clean_co           34728
dtype: int64

### Managers

In [9]:
managers_path = "~/Desktop/Data/Matching_process/managers_to_merge.csv"

managers_df = pd.read_csv(managers_path)

In [10]:
managers_df.head()

,name,country_name,city,asset_classes_name,strategies_name,id,company_type,name_clean,name_implied_type,name_implied_country,name_clean_co
0,Bezirks-Sparkasse Dielsdorf,Switzerland,Dielsdorf,NaN,NaN,2145870965,manager,BEZIRKS-SPARKASSE DIELSDORF,NaN,NaN,BEZIRKS-SPARKASSE DIELSDORF
1,Danske Invest Management A/S,Denmark,Lyngby,NaN,NaN,2145872118,manager,DANSKE INVEST MANAGEMENT A/S,['Limited Liability Company'],['Denmark'],DANSKE INVEST MANAGEMENT
2,Haverford Trust Company,United States,Radnor,NaN,NaN,2145855687,manager,HAVERFORD TRUST COMPANY,['Corporation'],['United States of America'],HAVERFORD TRUST
3,Investment Corporation of Bangladesh (ICB),Bangladesh,Dhaka,NaN,NaN,2145873355,manager,INVESTMENT CORPORATION OF BANGLADESH ICB,NaN,NaN,INVESTMENT CORPORATION OF BANGLADESH ICB
4,LeaseGreen Group,Finland,Helsinki,NaN,NaN,2145871854,manager,LEASEGREEN GROUP,NaN,NaN,LEASEGREEN GROUP

In [18]:
managers_df.count()

name                    27199
country_name            27200
city                    26873
asset_classes_name       7131
strategies_name          7172
id                      27200
company_type            27200
name_clean              27195
name_implied_type        3911
name_implied_country     4061
name_clean_co           27195
dtype: int64

### Target table

In [11]:
target_table_path = "~/Desktop/Data/Matching_process/table_to_merge_onto.csv"

target_df = pd.read_csv(target_table_path)

/Users/jackcontro/Library/Python/3.7/lib/python/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
target_df.head()

,Account ID,Account Name,Billing Country,PAM Manager ID,SEC Number,Number of employees,Is Parent Account?,Continent/Region,Type,Account Industry,Industry,Account Sub Industry,Account Site,Account or Parent Name,Billing City,Billing Zip/Postal Code,Parent Account,name_clean,name_implied_type,name_implied_country,name_clean_co,id,company_type,merge_label
0,0011r00001w1x3Z,Otto Harrassowitz GmbH & Co. KG,Germany,NaN,NaN,NaN,1,Europe,NaN,Research/Academia,Allocator,Public Library,Group,Otto Harrassowitz GmbH & Co. KG,Wiesbaden,65205,NaN,OTTO HARRASSOWITZ GMBH & CO KG,['Limited Partnership'],['Austria'],OTTO HARRASSOWITZ GMBH & CO,NaN,NaN,no_match
1,0012000000gpuV8,Goldman Sachs Asset Management International,UK,2.145870e+09,801-38157,NaN,0,Oceania,NaN,Investment Bank,Professional & Fund Services,NaN,Location,"The Goldman Sachs Group, Inc.",London,EC4A 4AU,"The Goldman Sachs Group, Inc.",THE GOLDMAN SACHS GROUP INC,['Corporation'],"['Philippines', 'United States of America']",THE GOLDMAN SACHS GROUP,2.145870e+09,manager,pam_manager_id
2,0012000000gpuV8,Goldman Sachs Asset Management International,UK,2.145870e+09,801-38157,NaN,0,Oceania,NaN,Investment Bank,Professional & Fund Services,NaN,Location,"The Goldman Sachs Group, Inc.",London,EC4A 4AU,"The Goldman Sachs Group, Inc.",THE GOLDMAN SACHS GROUP INC,['Corporation'],"['Philippines', 'United States of America']",THE GOLDMAN SACHS GROUP,2.145870e+09,manager,pam_manager_id
3,0012000000gpuV8,Goldman Sachs Asset Management International,UK,2.145870e+09,801-38157,NaN,0,Oceania,NaN,Investment Bank,Professional & Fund Services,NaN,Location,"The Goldman Sachs Group, Inc.",London,EC4A 4AU,"The Goldman Sachs Group, Inc.",THE GOLDMAN SACHS GROUP INC,['Corporation'],"['Philippines', 'United States of America']",THE GOLDMAN SACHS GROUP,2.145870e+09,manager,pam_manager_id
4,0012000000gpuV8,Goldman Sachs Asset Management International,UK,2.145870e+09,801-38157,NaN,0,Oceania,NaN,Investment Bank,Professional & Fund Services,NaN,Location,"The Goldman Sachs Group, Inc.",London,EC4A 4AU,"The Goldman Sachs Group, Inc.",THE GOLDMAN SACHS GROUP INC,['Corporation'],"['Philippines', 'United States of America']",THE GOLDMAN SACHS GROUP,2.145870e+09,manager,pam_manager_id

In [19]:
target_df.count()

Account ID                 72831
Account Name               72821
Billing Country            69829
PAM Manager ID             24306
SEC Number                  4469
Number of employees          415
Is Parent Account?         72831
Continent/Region           72831
Type                        5011
Account Industry           25970
Industry                   64886
Account Sub Industry       15073
Account Site               72826
Account or Parent Name     72821
Billing City               54631
Billing Zip/Postal Code    48518
Parent Account             26433
name_clean                 72826
name_implied_type          14021
name_implied_country       14031
name_clean_co              72806
id                         35877
company_type               35877
merge_label                72831
dtype: int64

The target dataframe has many vairations of the same name, with abbreviation (United Kingdon - U.K.)

In [28]:
target_df['Billing Country'].unique()

array(['Germany', 'UK', 'United Kingdom', 'London', 'United States',
       'Switzerland', 'Ireland', 'Turkey', 'Singapore', 'Hong Kong',
       'JAPAN', 'India', 'China', nan, 'Taiwan', 'United Arab Emirates',
       'Spain', 'Australia', 'Italy', 'South Korea', 'Qatar', 'Sweden',
       'Canada', 'South Africa', 'France', 'Russia', 'HONG KONG',
       'Malaysia', 'Cyprus', 'Japan', 'NORWAY', 'Malta', 'Greece',
       'Denmark', 'Gibraltar', 'New Zealand', 'SWEDEN', 'Portugal',
       'Netherlands', 'Thailand', 'Brazil', 'Morocco', 'Iran', 'Kuwait',
       'Lebanon', 'Egypt', 'Romania', 'Saudi Arabia', 'Monaco', 'Curaçao',
       'Poland', 'Luxembourg', 'ITALY', 'Austria', 'Peru', 'Hungary',
       'Estonia', 'Georgia', 'Russian Federation', 'Kenya', 'Isle of Man',
       "Cote D'Ivoire", 'canada', 'Chile', 'Cayman Islands', 'Bulgaria',
       'Norway', 'Virgin Islands, British', 'Unknown', 'Nigeria',
       'GERMANY', 'INDIA', "Cote d'Ivoire", 'Bermuda', 'Israel',
       'Czech Republic', 'Lithuania', 'Tunisie', 'Oman', 'Jordan',
       'Bahrain', 'Ghana', 'Finland', 'Belgium', 'Indonesia',
       'Costa Rica', 'Bangladesh', 'Argentina', 'Mexico', 'Armenia',
       'Pakistan', 'Jamaica', 'Uruguay', 'Bahamas', 'United kingdom',
       'United Kindgom', 'United Stated', 'UAE', 'New York', 'Kingdom',
       'Wales', 'United State', 'Macau', 'Scotland', 'Unites States',
       'The Netherlands', 'Philippines', 'Liechtenstein', 'unknown',
       'Ukraine', 'DENMARK', 'Netherlands Antilles', 'England', 'Italia',
       'Saint Lucia', 'malta', 'Bolivia', 'Hong Kong S.A.R., China',
       'Nederland', 'Mauritius', 'Barbados', 'Cayman Islands,', 'Panama',
       'Colombia', 'Antigua & Barbuda',
       'Saint Vincent and the Grenadines', 'portugal', 'Tunisia',
       'Iceland', 'Latvia', 'Afghanistan', 'SAUDI ARABIA', 'Dubai',
       'ireland', 'Venezuela', 'Puerto Rico', 'Serbia', 'Ecuador',
       'Andorra', 'Alea Igre d.o.o.', 'Croatia', 'italy', 'brasil',
       'MEXICO', 'Uganda', 'Channel Islands', 'Belarus', 'LUXEMBOURG',
       'Guernsey', 'united arab emirates', 'TAIWAN', 'UNITED KINGDOM',
       'Curacao', 'Antarctica', 'Mongolia', 'Brasil', 'Brunei',
       'NETHERLANDS', 'uk', 'Jersey', 'india', 'Europe', 'United KIngdom',
       'Sween', 'United States of America', 'united states', 'Vietnam',
       'united kingdom', 'Seychelles', 'Macedonia',
       'British Virgin Islands', 'LATVIA', 'Slovenia', 'NEW CALEDONIA',
       'British Isles', 'x', 'Ethiopia', 'Burkina Faso', 'Texas',
       'israel', 'Cameroon', 'Virgin Islands, US', 'Zambia',
       'Korea (South)', 'FRANCE', 'MALAYSIA', 'Kazakhstan', 'Slovakia',
       'Malawi', 'UNITED STATES', 'Belize', 'denmark', 'Sverige',
       'LIECHTENSTEIN', 'CHILE', 'SWITZERLAND', 'Palau', 'Nepal',
       'Sweden\xa0', 'Saint Kitts and Nevis', 'spain', 'Kyiv', 'Cambodia',
       'Papua New Guinea', 'PORTUGAL', 'Botswana', 'Zimbabwe', 'Angola',
       'Togo', 'france', 'SOUTH AFRICA', 'PHILIPPINES', 'Columbia',
       'United Kingfom', 'australia', 'BRAZIL', 'Sri Lanka', 'Korea',
       'Macao', 'Sri lanka', 'CHINA', 'Slovak Republic',
       'Taiwan, Province of China', 'FINLAND', 'Turks and Caicos Islands',
       'Anguilla', 'Iraq', 'Republic of Ireland', 'Korea, Republic of',
       'Trinidad and Tobago', 'Stockholm', 'Paraguay', 'CROATIA',
       'Montenegro', 'Czech', 'New Zeland', 'SPAIN', 'Nerherlands', 'Uk',
       'MALTA', 'Bosnia-Herzegovina', 'china', 'Syria', '.',
       'Tanzania, United Republic Of', 'Dominica', 'España',
       'Finland\xa0', 'Vanuatu', 'México', 'KENYA', 'Trinidad & Tobago',
       'TBC', 'SOUTH KOREA', 'Albania', 'venezuela', 'BELGIUM', 'POLAND',
       'Paris', 'peru', 'Guatemala', 'Mali', 'Muscat', 'Isle Of Man',
       'AUSTRIA', 'Senegal', 'Azerbaijan', 'germany', 'GB', 'England,',
       "Côte d'Ivoire", 'Zug', 'Nicaragua', 'greece', 'Untied Kindom',
       'Federated States of Micronesia', 'HK', 'Cameron',
       'United Kingdon', 'THAILAND', 'Madagascar', 'Schweiz',
       'Cook Islands', 'Honduras', 'Kanye', 'Perú', 'Namibia',
       'Unknown Account', 'Micronesia, Federal States of', 'Uzbekistan',
       'CANADA', 'NEW ZEALAND', 'sweden', 'Dominican Republic',
       'Tanzania', 'El Salvador', 'Chad', 'NL', 'Aruba', 'Myanmar',
       'Antigua And Barbuda', 'California', 'United states',
       'U.S. Virgin Islands', 'Côte d’Ivoire', 'japan', 'Sanghai',
       'Polska', 'Brazile', 'Bulgaia', 'Swaziland', 'BOTSWANA', 'ISRAEL',
       'nigeria', 'Luxemburg', 'Suriname', 'South Sudan',
       'united Kingdom', 'Zyprus', 'Swtitzerland', 'gibraltar', 'Danmark',
       'EU', 'BERMUDA', 'indonesia', 'Algeria', 'Österreich',
       'czech republic', 'Austarlia', 'turkey', 'Mozambique', 'Yemen',
       'Burundi', 'U.S.A.', 'Viet Nam', 'JORDAN', 'the Netherlands',
       'algeria', 'Gambia', 'Benin', 'Kazakahstan', 'Hrvatska',
       'FYR Macedonia', 'Sao Tome and Principe', 'chile', 'poland',
       'Congo', 'Moldova', 'Switzerlan', 'mexico', 'Rwanda', 'Palestine',
       'Tahoba Ltd', 'SIngapore', 'kenya', 'Россия', 'Rep. of Lorea',
       'Fiji', 'RUSSIA', 'Lesotho', 'Phillippines', '10001', 'bangladesh',
       'Antigua', 'U.K.', 'United Kingom', '日本', 'Deutschland', 'Libya',
       'Finnland', 'estonia', 'Czech Rdepublic', 'svizzera', 'brazil',
       'taiwan', 'malaysia', 'south korea', 'saudi', 'EGYPT', 'Gabon',
       'Philipphines'], dtype=object)

In [32]:
len(target_df['Billing Country'].unique())

381

In [31]:
# This reduced the number by 100
len(target_df['Billing Country'].str.lower().unique())

287

In [33]:
import model_utils